@import 'node_modules/d2l-colors/d2l-colors.scss';

@mixin d2l-link() {
	&,
	&:visited,
	&:link,
	&:active {
		color: $d2l-color-celestine;
		text-decoration: none;
		cursor: pointer;
	}
	&:hover,
	&:focus,
	&.d2l-link-focus {
		color: $d2l-color-celestine-minus-1;
		text-decoration: underline;
		outline-width: 0;
	}
	&[main] {
		font-weight: 700;
	}
	&[small] {
		font-size: 0.7rem;
		line-height: 1.05rem;
		letter-spacing: 0.01rem;
	}

	&.d2l-dark-mode,
	&.d2l-dark-mode:visited,
	&.d2l-dark-mode:link,
	&.d2l-dark-mode:active,
	&.d2l-dark-mode:hover,
	&.d2l-dark-mode:focus,
	&.d2l-dark-mode.d2l-link-focus {
		color: $d2l-color-celestine-plus-1;
	}

}
